html {
    box-sizing: border-box;
}

*,  ::after, ::before {
    box-sizing: inherit;
}

#root {
    background-image: url("moreMoney2.png");
    background-size: cover;
    background-position: center;
    font-family: 'Gowun Dodum', sans-serif;
}