html {
    box-sizing: border-box;
}

*,  ::after, ::before {
    box-sizing: inherit;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("moreMoney2.png");
    background-size: cover;
    background-position: center;
    font-family: 'Gowun Dodum', sans-serif;
    height: 100vh;
}